.box{
    border: 5px solid black;
    margin: 20px auto;
    width: 500px;
    height: 500px;
    position: relative;
}
h1{
    text-align: center;
}
div{
    justify-content: center;
}

.item1,.item2,.item3,.item4,.item5 {
    width: 100px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
.item1{
    border: 2px solid red;
    position: relative;
    top: 200px;
    left: 200px;
    text-align: center;
    
}
.item2{
   border: 2px solid blue;
   position: relative;
   bottom: 95px;
   left: 10px;
  
}

.item3{
    border: 2px solid purple;
    position: relative;
    top: 179px;
    left: 10px;

    
}
.item4{
    border: 2px solid orange;
    position: absolute;
    right: 2%;
    bottom: 2%;
  
}
.item5{
    border: 2px solid yellowgreen;
    position: absolute;
    right: 2%;
    top: 2%;
    
}
